* {
    margin: 0;
}

body {
    background-color: black;
    color: #fff;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}